.container,
.logout {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.container { 
    justify-content: flex-end;
}

.container > div {
    margin: 20px;
    width: auto;
}

.logout > div {
    margin: 3px;
}

a,
p {
    color: #333;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #333;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    color: #fff;
}

.logout {
    cursor: pointer;
}